.sf_media_browser_input_file {
  height:         20px;
  display:        block;
}
.sf_media_browser_input_file input {
  padding-right:  20px;
  background:     transparent url('../images/icons-16/attach.png') no-repeat 100% 50%;
  float:          left;
}

.sf_media_browser_input_file a {
  text-indent:  -2000px;
  display:      block;
  margin-left:  5px;
  float:        left;
  width:        16px;
  height:       16px;
  cursor:       pointer;
}

.sf_media_browser_input_file a.delete {
  background:   transparent url('../images/icons-16/delete.png') no-repeat;
}
.sf_media_browser_input_file a.view {
  background:   transparent url('../images/icons-16/view.png') no-repeat;
}